@model VA_Patient_Registration_Site.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doc_fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doc_fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doc_lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doc_lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Doc_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
